<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавление заказа</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Добавление заказа</h1>

<form th:action="@{/addOrder}"
      th:object="${orderForm}" method="POST">

    <h1>ЗАКАЗ</h1>
    Дата заказа:
    <label for="date-field">The Date</label>
    <input id="date-field" type="date" th:field="*{dateOfOrder}" />
    <br/>
    Номер заказа:
    <input type="text" th:field="*{numberOfOrder}" />
    <br/>
    Статус:
    <input type="text" th:field="*{orderStatus}" />
    <br/>
    Сумма:
    <input type="text" th:field="*{freightCost}" />
    <br/>
    Срок оплаты:
    <input type="text" th:field="*{paymentPeriod}" />
    Дополнительная информация:
    <input type="text" th:field="*{additionalInformation}" />
    <br/>

    <h1>ПЕРЕВОЗЧИК</h1>
    Название компании:
    <input type="text" th:field="*{carrier.carrierCompanyName}" />
    <br/>
    Контактное лицо:
    <input type="text" th:field="*{carrier.carrierContact}" />
    <br/>
    Телефон:
    <input type="text" th:field="*{carrier.carrierTelephone}" />
    <br/>
    Электронная почта:
    <input type="text" th:field="*{carrier.carrierElMail}" />
    <br/>
    Водитель:
    <!--<input type="text" th:field="*{}" />--> ???

    <h1>ГРУЗ</h1>
    Описание товара:
    <input type="text" th:field="*{cargo.cargoDescription}" />
    <br/>
    Вес товара:
    <input type="text" th:field="*{cargo.cargoWeight}" />
    <br/>
    Количество:
    <input type="text" th:field="*{cargo.cargoCount}" />
    <br/>
    Документ:
    <input type="text" th:field="*{cargo.cargoDocument}" />
    <br/>

    <h1>АДРЕС ЗАГРУЗКИ</h1>
    Название компании:
    <input type="text" th:field="*{loading.loadingCompanyName}" />
    <br/>
    Адрес:
    <input type="text" th:field="*{loading.loadingAdress}" />
    <br/>
    Почтовый индекс:
    <input type="text" th:field="*{loading.loadingPostalCode}" />
    <br/>
    Город:
    <input type="text" th:field="*{loading.loadingCity}" />
    Страна:
    <input type="text" th:field="*{loading.loadingCountry}" />
    <br/>
    Дата загрузки:
    <input type="date" th:field="*{loading.loadingDate}" />
    Время загрузки:
    <input type="time" th:field="*{loading.loadingTime}" />
    <br/>

    <h1>АДРЕС ВЫГРУЗКИ</h1>
    Клиент:
    <input type="text" th:field="*{unloading.unloadingClient}" />
    <br/>
    Город:
    <input type="text" th:field="*{unloading.unloadingCity}" />
    <br/>
    Страна:
    <input type="text" th:field="*{unloading.unloadingCountry}" />
    <br/>
    Дата выгрузки:
    <input type="text" th:field="*{unloading.unloadingDate}" />
    Время выгрузки:
    <input type="text" th:field="*{unloading.unloadingTime}" />
    <br/>
    Склад:
    <!--<input type="text" th:field="*{}" />--> ???

    <h1>АДРЕС ВЫГРУЗКИ</h1>
    Клиент:
    <input type="text" th:field="*{unloading.unloadingClient}" />
    <br/>
    Город:
    <input type="text" th:field="*{unloading.unloadingCity}" />
    <br/>
    Страна:
    <input type="text" th:field="*{unloading.unloadingCountry}" />
    <br/>
    Дата выгрузки:
    <input type="text" th:field="*{unloading.unloadingDate}" />
    Время выгрузки:
    <input type="text" th:field="*{unloading.unloadingTime}" />
    <br/>

    <h1>ЭКСПЕДИТОР BY</h1>
    ФИО Экспедитора BY:
    <input type="text" th:field="*{userForwarderBY.name}" />
    <br/>

    <h1>ЭКСПЕДИТОР PL</h1>
    ФИО Экспедитора PL:
    <input type="text" th:field="*{userForwarderPL.name}" />
    <br/>

    <input type="submit" value="Добавить" />
</form>

</body>
</html>