.close_btn {
  cursor: pointer;
  position: relative;
  float: right;
  font-size: 23px;
  transition: transform 500ms ease;
  z-index: 11;
}

.close_btn:hover {
  color: #3498db;
  transform: rotate(540deg);
}