<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Person:</h1>

<form th:action="@{/addUser}"
      th:object="${userForm}" method="POST">
    Number:
    <input type="text" th:field="*{id}" />
    <br/>
    First Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Position:
    <input type="text" th:field="*{post}" />
    <br/>
    Login:
    <input type="text" th:field="*{login}" />
    <br/>
    Password:
    <input type="text" th:field="*{password}" />
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
</div>

</body>
</html>