<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="addUser">Add Person</a>
<a href="deleteUser">Delete Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Number</th>
            <th>First Name</th>
            <th>Position</th>
            <th>Login</th>
            <th>Password</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.post}">...</td>
            <td th:utext="${user.login}">...</td>
            <td th:utext="${user.password}">...</td>
        </tr>
    </table>
</div>
</body>
</html>