
* {
	box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

html.modal-active, body.modal-active {
  overflow: hidden;
}

body, html {
  /*min-height: 100%;*/
  height: 115vh;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-weight: 200;
}

fieldset {
  border : 0;
  padding: 0;
}

.img-responsive {
	display: block;
	max-width: 100%;
  height: auto;
}

.link {
  color: #dbdbdb;
  text-decoration: none;
}
