<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавление заказа</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Добавление заказа</h1>

<form th:action="@{/addOrder}"
      th:object="${orderForm}" method="POST">
    <h1>ЗАКАЗ</h1>
    Дата заказа:
    <input type="date" th:field="*{dateOfOrder}" />
    <br/>
    Номер заказа:
    <input type="text" th:field="*{numberOfOrder}" />
    <br/>
    Статус:
    <input type="text" th:field="*{orderStatus}" />
    <br/>
    Цена:
    <input type="text" th:field="*{freightCost}" />
    <br/>
    Период платежа:
    <input type="text" th:field="*{paymentPeriod}" />
    Дополнительная информация:
    <input type="text" th:field="*{additionalInformation}" />
    <br/>

    <h1>ПЕРЕВОЗЧИК</h1>
    Название компании:
    <input type="text" th:field="*{carrier.carrierCompanyName}" />
    <br/>
    Контакт:
    <input type="text" th:field="*{carrier.carrierContact}" />
    <br/>
    Телефон:
    <input type="text" th:field="*{carrier.carrierTelephone}" />
    <br/>
    Почта:
    <input type="text" th:field="*{carrier.carrierElMail}" />
    <br/>
    Водитель:
    <!--<input type="text" th:field="*{}" />--> ???

    <h1>Груз</h1>
    Описание груза:
    <input type="text" th:field="*{cargo.cargoDescription}" />
    <br/>
    Вес:
    <input type="text" th:field="*{cargo.cargoWeight}" />
    <br/>
    Количество:
    <input type="text" th:field="*{cargo.cargoCount}" />
    <br/>
    Документ:
    <input type="text" th:field="*{cargo.cargoDocument}" />
    <br/>


    <input type="submit" value="Добавить" />
</form>

</body>
</html>