<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Список пользователей</h1>

    <div>
        <table>
            <tr>
                <th>Имя</th>
                <th>Должность</th>
            </tr>
            <tr th:each ="user : ${users}">
                <td th:utext="${user.name}"></td>
                <td th:utext="${user.post}"></td>
                <td><a th:href="${'/userForm/' + user.id}">Узнать больше</a></td>
            </tr>
        </table>
    </div>

    <a href="addUser">Добавить пользователя</a>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Выйти"/>
    </form>
</body>
</html>