<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Delete Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Delete a Person:</h1>

<form th:action="@{/deleteUser}"
      th:object="${userForm}" method="POST">
    Number:
    <input type="text" th:field="*{id}" />
    <br/>
    <input type="submit" value="Delete" />
</form>
<br/>

<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
</div>

</body>
</html>