<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Authentication</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <form th:action="@{/}"
          th:object="${userForm}" method="POST">
        Login:
        <input type="text" th:field="*{login}" />
        <br/>
        Password:
        <input type="text" th:field="*{password}" />
        <br/>
        <input type="submit" value="Submit" />
    </form>
</body>

</html>