<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ordersRealization_container">
    <table class="orders_realization_table cell-border" >
        <thead>
        <tr>
            <th>Клиент</th>
            <th>Страна</th>
            <th>Город назначения</th>
            <th>Экспедитор BY</th>
            <th>Номер заказа</th>
            <th>Страна</th>
            <th>Город загрузки</th>
            <th>Количество</th>
            <th>Вес[кг]</th>
            <th>Поставка</th>
            <th>Док</th>
            <th>Экспедитор PL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}" th:attr="data-state=${order.getOrderStatus()}">
            <td th:utext="${order.unloading.unloadingClient}"></td>
            <td th:utext="${order.unloading.unloadingCountry}"></td>
            <td th:utext="${order.unloading.unloadingCity}"></td>
            <td th:utext="${order.userForwarderBY.name}"></td>
            <td th:utext="${order.numberOfOrder}"></td>
            <td th:utext="${order.loading.loadingCountry}"></td>
            <td th:utext="${order.loading.loadingCity}"></td>
            <td th:utext="${order.cargo.cargoCount}"></td>
            <td th:utext="${order.cargo.cargoWeight}"></td>
            <td th:utext="${order.unloading.unloadingDate}"></td>
            <td th:utext="${order.cargo.cargoDocument}"></td>
            <td th:utext="${order.userForwarderPL.name}"></td>
        </tr>
        </tbody>
    </table>
    <script th:src="@{/js/ordersRealization.js}"></script>
</div>
</body>
</html>