<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Статистика</title>
</head>
<body>
    <div class="statistics_container">
      <h1>Статистика собранных заказов за прошедший год</h1>

      <div class="ct-chart ct-perfect-fourth"></div>
      <script th:src="@{/js/statistics.js}"></script>
    </div>
</body>
</html>