<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Пользователь</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Пользователь</h1>

    <form th:action="@{/addUser}"
          th:object="${userForm}" method="POST">
        <table border="1">
            <th><input type="hidden" th:field="${userForm.id}" /></th>
            <tr>
                <th>Имя:</th>
                <th><input type="text" th:field="${userForm.name}" /></th>
            </tr>
            <tr>
                <th>Должность:</th>
                <th><input type="text" th:field="${userForm.post}" /></th>
            </tr>
            <tr>
                <th>Логин:</th>
                <th><input type="text" th:field="${userForm.login}" /></th>
            </tr>
            <tr>
                <th>Пароль:</th>
                <th><input type="text" th:field="${userForm.password}" /></th>
            </tr>
            <tr>
                <input type="submit" value="Сохранить">
            </tr>
        </table>
    </form>

    <a th:href="${'/deleteUser/' + userForm.id}">Удалить</a>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Назад"/>
    </form>

</body>
</html>