<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добро пожаловать</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
    <div th:utext="${userForm.getPost()}"></div>

    <div th:switch="${userForm.getPost()}">
        <p th:case="'Админ'">
            <a href="administration">Администрирование</a>
        </p>

        <p th:case="'Экспедитор'">
            <a href="addOrder">Добавить заказ</a>
            <a href="addNotice">Добавить авизацию</a>
        </p>

        <p th:case="'Заведующий складом'">
            <a href="addStock">Добавить склад</a>
        </p>
    </div>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>

</html>